.kucica{
    -fx-background-color: #B9D0AA;
        -fx-background-radius: 30;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.btnLogin{
    -fx-background-color: #B9D0AA;
    -fx-background-radius: 100;
}

.radius{
    -fx-background-radius: 30;
}

.navBtn{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #E4E4E4;
}

.text-field{
    -fx-background-radius: 30;
}